<ul>
	{{#each favList.items as |item|}}
		<div class="col s12">

		<li>{{item.text}}</li>

		<a {{action 'remove' item}} class="btn-floating btn-tiny waves-effect waves-light red"><i class="material-icons">delete</i></a>
		</div>
	{{/each}}
</ul>
