<li>
	{{#link-to 'question' question.id}} {{question.text}} {{/link-to}}
	<a {{action 'favorite' question}} class="btn-floating btn-tiny waves-effect waves-light "><i class="material-icons">add</i></a>
	<br>
</li>
