<h1> Questions: </h1>

<ul>
  {{#each model.questions as |question|}}
    {{icon question}}{{#link-to 'question' question.id}} {{question.text}} {{/link-to}}
    <br>
  {{/each}}
</ul>
<br> {{new-question saveQuestion="saveQuestion"}}
