<h1> Questions: </h1>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<h5>Favorite List</h5>
{{log display-list}}
{{display-list question=model}}
<br>
{{new-question saveQuestion="saveQuestion"}}
