<h1> Questions: </h1>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
    	<button {{action 'favorite' question}}>Add to Favorites List</button>
    <br>
  {{/each}}
</ul>

<h5>Favorite List</h5>

{{display-list question=model}}
<br>
{{new-question saveQuestion="saveQuestion"}}
