<h1> Questions: </h1>

<ul>
  {{#each model.questions as |question|}}
    {{#link-to 'question' question.id}} {{question.text}}'s {{question.author}} {{question.notes}} {{/link-to}}<br>
  {{/each}}

</ul>
{{new-question saveQuestion="saveQuestion"}}
