<h1> Q and A </h1>

<ul>
  {{#each model as |question|}}

     {{question-tile question=question destroyQuestion="destroyQuestion"}}
     {{log question.text}}
  {{/each}}

  {{new-question save2="save3"}}

</ul>
